<div>
       
    <img src="assets/images/logo4.png" alt="Not" style="width: 100px; height: 50px;">


</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="col">
        <ul class="nav row nav pills">
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-warning"[routerLink]="['/shome']" ><i class="fa fa-fw fa-home"></i>Home </a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-warning" [routerLink]="['/shome/add-items']" ><span class="glyphicon glyphicon-sunglasses"></span>Add Items</a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-warning" [routerLink]="['/shome/viewitems']"><span class="glyphicon glyphicon-sunglasses"></span>ViewItems</a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-warning" [routerLink]="['/shome/edit-profile']" ><i class="fa fa-fw fa-user"></i>Edit Profile</a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-warning" [routerLink]="['/shome/viewreport']" ><span class="glyphicon glyphicon-time"></span>viewreport</a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <button class="nav-link btn-outline-warning" (click)="Logout()"><i class="fa fa-fw fa-user"></i>Logout</button>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="container">
<div class="row"> -->
    <!-- <aside class="col-3 back" >
        

        
    </aside>
     -->


<router-outlet></router-outlet>
<!-- </div>

</div>  -->