<p>login works!</p>
<div class="container">
<table class="table table-bordered">
    <tr>
        <td style="color:darkred;">Username</td>
        <td>
            <input type="text" [(ngModel)]="uname" >
        </td>
    </tr>
    <tr>
        <td style="color: darkred;"> Password:</td>

<td>
    <input type="password" [(ngModel)]="pwd" >
</td>    </tr>
<tr>
    <td colspan="2">
        <button class="btn btn-primary" (click)="Login()">Login</button>
    </td>
</tr>
<tr>
    <td >
        <a [routerLink]="['/createbuyer']" style="color: red;" >Create new account</a>
    </td>
</tr>

</table>
</div>


 
    
