<header>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <!--Logo Transparent-->
    <div>
       
            <img src="assets/images/logo4.png" alt="Not" style="width: 100px; height: 50px;">

      <form>
                            <input type="text" placeholder="Search..." required>
                       <i class="fa fa-search"></i>
       </form>
   </div>
    <!--Nav-bar-->
    <!--nav class="navbar navbar-expand-lg navbar-light "-->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="col">
            <ul class="nav row nav pills">
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/index']" ><i class="fa fa-home"></i>Home </a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/ser']"  ><i class="fa fa-handshake "></i>Services</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/about']"  ><i class="fa fa-user"></i>About</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/contact']" ><i class="fa fa-book"></i>Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="bg1">
    <div class="container ">
    <div class="card-body">
       <div class="row">
           <div class="col-6">
              <h3> <b style="font-family: Proza;">About:-</b></h3>
<br>
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;">The digital market is no longer the future, it is the present and we
                    all know it. This website originates from the need to create a
                        marketplace for both buying and selling the goods that guarantee the
                    security and professionalism required for this type of transaction,
                    safeguarding both seller and buyer in the process.</p>


                    <h3> <b style="font-family: Proza;">Our Mission:- </b></h3>
<br>


<p style="font-family: Georgia, 'Times New Roman', Times, serif;">Our main goal is to ensure transparency and security in the sale of
goods, for both buyer and seller.We have a miltidisciplinary team who
will ensure the success of all our operations.</p> </div>
<div class="col-6">
    <img src="assets\images\serv.jpg">
</div>
</div>
</div>
</div>
</div>