.bg{
    background-image:url('src\assets\images\clothe.jpg');
    height: 500px;
    background-repeat: repeat;
     background-size: 100% 100%; 
     
   }
   form {
    width:500px;
    margin:10px auto;
float:right;
}
/* .bg1 {
  background-color: lightsteelblue;
} */