
  
<div class="card offest-4">
   
    <div class="card-body">
        
      

        <form [formGroup]="paymentForm" (ngSubmit)= "Buy()">
           
            <!-- <div class="form-group offset-3 col-6">
                <label>ItemId</label>
                <input type="text" class="form-control" formControlName="id" >
            </div> -->
            <!-- <div class="form-group offset-3 col-6">
                <label>Price</label>
                <input type="text" class="form-control" formControlName="price">
            </div> -->
            <div class="form-group offset-3 col-6">
                <label>PaymentType</label>
                <select formControlName="paymenttype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.paymenttype.errors }">
                    <option value="Credit">Credit</option>
                    <option value="Debit">Debit</option>
                    <option value="Upi">Upi</option>
                </select>
                <div *ngIf="submitted && f.paymenttype.errors" class="invalid-feedback">
                <div *ngIf="f.paymenttype.errors.required">select payment type</div>
                </div>
            </div>
            <div class="form-group offset-3 col-6">
                <label>Cardnumber</label>
                <input type="text" maxlength="16" class="form-control" formControlName="cardnumber" [ngClass]="{ 'is-invalid': submitted && f.cardnumber.errors }" >
                <div *ngIf="submitted && f.cardnumber.errors" class="invalid-feedback">
                    <div *ngIf="f.cardnumber.errors.required">card number</div>
                    <div *ngIf="f.cardnumber.errors.pattern">only digits</div>
                    </div>
            </div>
            <div class="form-group offset-3 col-6">
                <label>Cvv</label>
                <input type="password" maxlength="3" formControlName="cvv" style="width: 10%;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }" >
                <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
                <div *ngIf="f.cvv.errors.required">cvv is required</div>
                <div *ngIf="f.cvv.errors.pattern">3 digit cvv num</div>
                </div>
            </div>
            <div class="form-group offset-3 col-6">
                <label>Date</label>
                <input type="date" class="form-control" formControlName="date">
            </div>
            <div class="form-group offset-3 col-6">
                <label>numberofitems</label>
                <input type="text" formControlName="numberofitems" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.numberofitems.errors }" >
                <div *ngIf="submitted && f.numberofitems.errors" class="invalid-feedback">
                    <div *ngIf="f.numberofitems.errors.required">please mention num</div>
                    <div *ngIf="f.numberofitems.errors.pattern"> digit  num</div>
                    </div>
            </div>
            <div class="form-group offset-3 col-6">
                <label>remarks</label>
                <input type="text-area"  formControlName="remarks" class="form-control">
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1"  >Submit</button>

            </div>
        </form>
       
    </div>
    </div>
    
  
