
<div class="card m-3">
    <h5 class="card-header text-center">Add sub Category form</h5>
    <div class="card-body bg-success">
        <form [formGroup]="SubForm" (ngSubmit)="onSubmit()">
            <div class="offset-3">
            
            <div class="form-group col-8">
                <label> SubCategoryName</label>
                <input type="text" formControlName="SubCategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryName.errors }">
                <div *ngIf="submitted && f.SubCategoryName.errors" class="invalid-feedback">
                    <div *ngIf="f.SubCategoryName.errors.required">category is required</div>
                </div>
            </div>
            <div class="form-group col-8 ">
                <label>CategoryId</label>
                <input type="text" formControlName="CategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryId.errors }" />
                <div *ngIf="submitted && f.CategoryId.errors" class="invalid-feedback">
                    <div *ngIf="f.CategoryId.errors.required">category is required</div>
                </div>
            </div>
           
            <div class="form-group col-8">
                <label> Brief</label>
                <input type="text" formControlName="Brief" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Brief.errors }" />
                <div *ngIf="submitted && f.Brief.errors" class="invalid-feedback">
                    <div *ngIf="f.Brief.errors.required"> details is required</div>
                    <div *ngIf="f.Brief.errors.pattern">please Enter valid details</div>
                </div>
            </div>
            <div class="form-group col-8">
                <label> Gst</label>
                <input type="text" formControlName="Gst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gst.errors }" />
                <div *ngIf="submitted && f.Gst.errors" class="invalid-feedback">
                    <div *ngIf="f.Gst.errors.required"> Gst is required</div>
                    <div *ngIf="f.Gst.errors.pattern">please Enter valid details</div>
                </div>
            </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Add-Category</button>
                <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
            </div>
       
        </form>
    </div>
</div>

