<header>
    <!--Logo Transparent-->
    <div>
       
            <img src="assets/images/logo.jpg" alt="Not" style="width: 100px; height: 50px;">

      <form>
                            <input type="text" placeholder="Search..." required>
                       <i class="fa fa-search"></i>
       </form>
   </div>
    <!--Nav-bar-->
    <!--nav class="navbar navbar-expand-lg navbar-light "-->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="col">
            <ul class="nav row nav pills">
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/index']" ><i class="fa fa-home"></i>Home </a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/ser']"  ><i class="fa fa-handshake "></i>Services</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/about']"  ><i class="fa fa-user"></i>About</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/contact']" ><i class="fa fa-book"></i>Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="container">
    <div class="row">
        <div class="col-6">
    


<h3> <b style="font-family: Proza;">Quality of our properties:</b></h3>
<br>
<p style="font-family: Georgia, 'Times New Roman', Times, serif;">We believe that all the goods for sale on our site represent a good
business opportunity.Whether they are of low or high value, they are
all excellent for your needs.</p>


<h3> <b style="font-family: Proza;">100% safe:</b></h3><br>
<p style="font-family: Georgia, 'Times New Roman', Times, serif;">All transactions made through our site are 100% safe.Both buyers and
sellers are safeguarded by the years of experience in our team.
</p>
<h3> <b style="font-family: Proza;">Follow up:</b></h3><br>
<p style="font-family: Georgia, 'Times New Roman', Times, serif;">Throughout the process, even after the sale, our team will be at your
side. We do not want you to simply make a sale or a purchase, we want
to create a enduring relationship with all our customers.</p>

<h3> <b style="font-family: Proza;">Support:</b></h3><br>

<p style="font-family: Georgia, 'Times New Roman', Times, serif;">We have experts for all phases throughout the process of selling and
buying.It is only in this way can we ensure the best experience for
our customers.</p>

</div>
<div class="col-6">
    <img src="assets\images\serv.jpg">
</div>
    </div>