<p>viewitems works!</p>

<table class="table table-bordered">
    <tr>
       
        <th>Itemid</th>
        <th>ItemName</th>
        <th>CategoryId</th>
        <th>SubcategoryId</th>
        <th>Description</th>
        <th>Price</th>
        <th>StockNumber</th>
        <th>Remarks</th>
        <th>sid</th>
        <th>image</th>
    </tr>
    <tr *ngFor="let i of list">
        <td>{{i.iid}}</td>
        <td>{{i.itemname}}</td>
        <td>{{i.categoryid}}</td>
        <td>{{i.subCategoryid}}</td>
        <td>{{i.description}}</td>
        <td>{{i.price}}</td>
        <td>{{i.stocknumber}}</td>
        <td>{{i.remarks}}</td>
        <td>{{i.sid}}</td>
       <td><img src='assets/images/{{i.imagename}}' style="height:150px; width:150px;"><br></td>
    <td>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="View(i.iid)">Edit</button>
    </td>
    <td>
        <button class="btn btn-primary" (click)="Delete(i.iid)">Delete</button>
    </td>
    </tr>
</table>

<!-- <div class="text-center">
    <button class="btn btn-primary" (click)="Update1()">Edit</button>
  
</div> -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Edit</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
<!-- <div class="card m-3" [hidden]="Show">
    <h5 class="card-header bg-info text-center">add Items</h5>
    <div class="card-body bg-light"> -->
        <form [formGroup]="itemForm" >
            <div class="form-group">
          
                <label>Itemid</label>
                <input type="text" formControlName="id" class="form-control" readonly="readonly">
                <!-- <select formControlName="id" class="form-control" (change)="View()">
                    <option *ngFor="let item of list" value="{{item.iid}}">{{item.iid}}</option>
                </select>
                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                    <div *ngIf="f.id.errors.required"> Name is required</div>
                    <div *ngIf="f.id.errors.pattern">please Enter valid details</div>
                </div> -->
            </div>
           
             <!-- <div class="form-group col-5 ">
                <label> CategoryId</label>
                <input type="text" formControlName="categoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryId.errors }">
                <div *ngIf="submitted && f.CategoryId.errors" class="invalid-feedback">
                    <div *ngIf="f.CategoryId.errors.required">category is required</div>
                </div>
            </div> -->
            <!--
            <div class="form-group col-8">
                <label> SubCategoryid</label>
                <input type="text" formControlName="SubCategoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryid.errors }">
                <div *ngIf="submitted && f.SubCategoryid.errors" class="invalid-feedback">
                    <div *ngIf="f.SubCategoryid.errors.required">category is required</div>
                </div>
            </div> -->
    
        
            <div class="row">
                <!-- <div class="form-group col-6">
                    <label>Item Name</label>
                    <input type="text" formControlName="item_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.item_name.errors }" />
                    <div *ngIf="submitted && f.item_name.errors" class="invalid-feedback">
                        <div *ngIf="f.item_name.errors.required"> Name is required</div>
                        <div *ngIf="f.item_name.errors.pattern">please Enter valid details</div>
                    </div>
                </div> -->
                <div class="form-group col-6">
                    <label>Price</label>
                    <input type="text" formControlName="Price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Price.errors }" />
                    <div *ngIf="submitted && f.Price.errors" class="invalid-feedback">
                        <div *ngIf="f.Price.errors.required">price is required</div>
                        <div *ngIf="f.Price.errors.pattern">Enter only digits</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Stock</label>
                    <input type="text" formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }" />
                    <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
                        <div *ngIf="f.stocknumber.errors.required">quantity is required</div>
                        <div *ngIf="f.stocknumber.errors.pattern">Enter only digits</div>
                    </div>
                </div>
            
        
           
                <!-- <div class="form-group col-6">
                    <label>description</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Descripton is required</div>
                        <div *ngIf="f.description.errors.pattern"> must be a valid </div>
                    </div>
                </div>-->
            </div> 
            
           <!-- <div class="row">
                <div class="form-group col-10 text-center">
                    <label>remarks</label>
                    <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                    <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                        <div *ngIf="f.remarks.errors.required"> is required</div>
                    </div>
                </div>
                <div class="form-group col-2 ">
                    <label>SID</label>
                    <input type="text" formControlName="Sid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sid.errors }" />
                    <div *ngIf="submitted && f.Sid.errors" class="invalid-feedback">
                        <div *ngIf="f.Sid.errors.required">Seller id is required</div>
                        
                    </div>
                </div>
           </div> -->
            
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="Update()">Update</button>
                <button class="btn btn-danger"  (click)="Delete()">Delete</button>
            </div>
        
        </form>
    </div>
</div>
</div>
</div>
