<!-- <div class="container">
<div class="row">
     
<div class="card-deck row" >
    <div class="card col-3 mx-5 my-3"*ngFor="let i of list" style="width:20%;">
      <img class="card-img-top" src="/assets/images/cloth.jpg" alt="Card image cap">
      <div class="card-body"  >
        <h5 class="card-title text-center">Item</h5>
       <td> ItemId:{{i.iid}}</td><br>
        <td>ItemName:{{i.itemName}}</td><br>
       <td> Description:{{i.description}}</td><br>
       <td>price:{{i.price}}</td><br>
       <td>Stock:{{i.stocknumber}}</td><br>
        <td>Remarks:{{i.remarks}}</td>
      </div>
      
      <div class="text-center">
        <button class="btn btn-primary mr-1">Add</button>
        <button class="btn btn-primary" (click)="BuyNow(i)">Buy</button>
    </div>
    </div>
   </div>
    </div>
  </div> -->



  <div class="container">
    <div class="row">

  <table class="table table-bordered">
    <tr>
      <th>PurchaseId</th>
      <!-- <th>SellerId</th> -->
      <th>Transactiontype</th>
      <th>Itemid</th>
      <th>numberofitems</th>
      <th>DateofOrder</th>
      <!-- <th>Remarks</th> -->
    </tr>
    <tr *ngFor="let item of list">
      <td>{{item.id}}</td>
     
      <!-- <td>{{item.sid}}</td> -->
      <td>{{item.transactiontype}}</td>
        <td>{{item.iid}}</td>
          <td>{{item.numberofitems}}</td>
          <td>{{item.datetime | date}}</td>
          <!-- <td>{{item.remarks}}</td> -->
    </tr>
  </table>
  </div>
  </div>