
<div class="card m-3">
    <h5 class="card-header text-center">seller Register form</h5>
    <div class="card-body">
        <form [formGroup]="Editform" (ngSubmit)="onSubmit()">
          <div class="row"> 
            <div class="form-group col-2">
                <label>ID</label>
                <input type="text" formControlName="Sid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sid.errors }" />
                <div *ngIf="submitted && f.Sid.errors" class="invalid-feedback">
                    <div *ngIf="f.Sid.errors.required">Seller id is required</div>
                   
                </div>
            </div>
                <div class="form-group col-5">
                    <label>User Name</label>
                    <input type="text" formControlName="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" />
                    <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                        <div *ngIf="f.Username.errors.required"> Name is required</div>
                        <div *ngIf="f.Username.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Password</label>
                    <input type="password" maxlength="8" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.required">Password is required</div>
                        <div *ngIf="f.Password.errors.pattern">Password must be 8 letters and last digit is special character</div>
                    </div>
                </div>
          </div>
          <div class="row">
                <div class="form-group col-6">
                    <label>Company Name</label>
                    <input type="text" formControlName="CompanyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CompanyName.errors }" />
                    <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
                        <div *ngIf="f.CompanyName.errors.required">company Name is required</div>
                        <div *ngIf="f.CompanyName.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Gstin</label>
                    <input type="text" formControlName="Gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gstin.errors }" />
                    <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
                        <div *ngIf="f.Gstin.errors.required"> field is required</div>
                        <div *ngIf="f.Gstin.errors.pattern">tax ident number</div>
                    </div>
                </div>
          </div>
                <div class="form-group col">
                    <label>Brief about company</label>
                    <input type="text" formControlName="Briefaboutcompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Briefaboutcompany.errors }" />
                    <div *ngIf="submitted && f.Briefaboutcompany.errors" class="invalid-feedback">
                        <div *ngIf="f.Briefaboutcompany.errors.required">  is required</div>
                        
                    </div>
                </div>
                <div class="form-group col">
                    <label>Address</label>
                    <input type="text" formControlName="Address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" />
                    <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                        <div *ngIf="f.Address.errors.required"> field is required</div>
                        
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="text" formControlName="Emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Emailid.errors }" />
                    <div *ngIf="submitted && f.Emailid.errors" class="invalid-feedback">
                        <div *ngIf="f.Emailid.errors.required">Email is required</div>
                        <div *ngIf="f.Emailid.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
               
            
           
            <div class="form-group col-6">
                <label>Mobile</label>
                <input type="text" formControlName="Mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" />
                <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.Mobile.errors.required">Mobile no is required</div>
                    <div *ngIf="f.Mobile.errors.pattern">Mobile no Must be Valid</div>
                </div>
            </div>
        </div>
           
       
        <div class="form-group col-6">
            <label>WebSite</label>
            <input type="text" formControlName="Website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Website.errors }" />
            <div *ngIf="submitted && f.Website.errors" class="invalid-feedback">
                <div *ngIf="f.Website.errors.required">company Name is required</div>
                <div *ngIf="f.Website.errors.pattern">Enter only Alphabets</div>
            </div>
        </div>
               
               
        
            
            <div class="text-center">
                <button class="btn btn-primary" (click)="EditProfile()">Update</button>
               
            </div>
        </form>
    </div>
</div>

