<header>
    <!--Logo Transparent-->
    <div>
       
            <img src="assets/images/logo.jpg" alt="Not" style="width: 100px; height: 50px;">

      <form>
                            <input type="text" placeholder="Search..." required>
                       <i class="fa fa-search"></i>
       </form>
   </div>
    <!--Nav-bar-->
    <!--nav class="navbar navbar-expand-lg navbar-light "-->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="col">
            <ul class="nav row nav pills">
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/index']" ><i class="fa fa-home"></i>Home </a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/ser']"  ><i class="fa fa-handshake "></i>Services</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/about']"  ><i class="fa fa-user"></i>About</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/contact']" ><i class="fa fa-book"></i>Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
    
    


<!-- <div class="bg">
<a href="#" class="myButton">SELL</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="#" class="myButton btn ">BUY</a> -->
<!-- <div class="container-fluid bg">
<div class="row">
    <a [routerLink]="['/login']" >
        <div class="col-6">
            <img src="assets\images\buy.jpg">
        </div>
        <div class="col-6">
            <img src="assets\images\sell.PNG">
        </div>
     </a>
</div>
</div> -->
     
<!-- <div class="row">
   <div class=" col-6 text-center" >
       <button type="button" class="btn btn-warning" value="Sell" [routerLink]="['/login']">Sell</button>
   </div>
   <div class=" col-6 text-center" >
       <button type="button" class="btn btn-warning" value="Buy" [routerLink]="['/login']">Buy</button>
   </div>

</div> -->







</header>



<!-- <div class="limiter">
    <div class="container-login100" >
    <div class="wrap-login100 p-t-30 p-b-50">
    <span class="login100-form-title p-b-41">
    Account Login
    </span>
    <form class="login100-form validate-form p-b-33 p-t-5">
        
    
    <div class="wrap-input100 validate-input" data-validate = "Enter username">
      <i class="fa fa-user mx-5 "></i>
    <input class="input100" type="text"  name="username" placeholder="User name" >
    
    </div>
    
    <div class="wrap-input100 validate-input" data-validate="Enter password">
    <i class="fa fa-key mx-5"></i>
    <input class="input100"   type="password" name="pass" placeholder="Password" >
    
    </div>
    
    <div class="container-login100-form-btn m-t-32">
    <button class="login100-form-btn mt-2">
    Login
    </button>
    </div>
    <div class="text-center">
      
        <a [routerLink]="['/createbuyer']" style="color: red;" >Create new account</a>
    
      </div>
    
    
    </form>
    </div>
    </div>
    </div> -->

    <div class="bg">
    
        <div class="container login-container">
           <div class="row">
               
               <div class="col-md-5 login">
                   <h2>Login</h2>
                   
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="username" value="" />
                       </div>
                       <div class="form-group">
                           <input  type="password" class="form-control" placeholder="Your Password" value="" />
                       </div>
                       <div class="form-group">
                           <input  type="submit" class="btnSubmit" value="Login" />
                       </div>
                       <div class="text-center">
             
                           <a [routerLink]="['/createbuyer']" style="color: red;" >Create new account</a>
                       
                         </div>
                      
                       
                   </div>
           </div>
       </div>






<router-outlet></router-outlet>
