<header>
    <!--Logo Transparent-->
    <div>
       
            <img src="assets/images/logo.jpg" alt="Not" style="width: 100px; height: 50px;">

      <form>
                            <input type="text" placeholder="Search..." required>
                       <i class="fa fa-search"></i>
       </form>
   </div>
    <!--Nav-bar-->
    <!--nav class="navbar navbar-expand-lg navbar-light "-->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="col">
            <ul class="nav row nav pills">
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/index']" ><i class="fa fa-home"></i>Home </a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/ser']"  ><i class="fa fa-handshake "></i>Services</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/about']"  ><i class="fa fa-user"></i>About</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/contact']" ><i class="fa fa-book"></i>Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
    
    




    <div class="bg">
        <form [formGroup]="loginForm" >
        <div class="container login-container">
           <div class="row">
               
               <div class="col-md-5 login">
                   <h2>Login</h2>
                   
                   <div class="form-group">
                    <label>User Name</label>
                    <input type="text" placeholder="Username"  formControlName="username1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required"> Name is required</div>
                        <div *ngIf="f.username.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>Password</label>
                    <input type="password"  placeholder="password" formControlName="password1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.pattern">Password must be 8 letters and last digit is special character</div>
                    </div>
                </div>
                       <div class="form-group">
                        <button class="btn btn-primary mr-1" (click)="Login()" >login</button>
                       </div>
                       <div class="text-center">
             
                           <a [routerLink]="['/createbuyer']" style="color: red;" >Create new account</a>
                       
                         </div>
                      
                       
                   </div>
           
            </div>
        </div>
        </form>
       </div>






<router-outlet></router-outlet>
