<header>
    <!--Logo Transparent-->
    <div>
       
            <img src="assets/images/logo4.jpg" alt="Not" style="width: 100px; height: 50px;">

      <form>
                            <input type="text" placeholder="Search..." required>
                       <i class="fa fa-search"></i>
       </form>
   </div>
    <!--Nav-bar-->
    <!--nav class="navbar navbar-expand-lg navbar-light "-->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="col">
            <ul class="nav row nav pills">
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/index']" ><i class="fa fa-home"></i>Home </a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/ser']"  ><i class="fa fa-handshake "></i>Services</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/about']"  ><i class="fa fa-user"></i>About</a>
                </li>
                <li class="col-sm-3 nav-item text-center">
                    <a class="nav-link btn-outline-warning" [routerLink]="['/contact']" ><i class="fa fa-book"></i>Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
    
</header>
<body class="bg">
<div class="row">

    <div class="text-center">
        
         <h3 class="offset-1"> Fill out the form below and we’ll be in touch soon. </h3>
            <table class="table table-bordered text-center offset-7">
                
                <tr>
                    <td>
                        <label>Name*:</label>
                    </td>
                    <td>
                        <input name="Name" type="text" maxlength="60" style="width:250px">
                    </td>
                </tr>
               
                <tr>
                    <td>
                        <label>Email address*:</label>
                    </td>
                    <td>
                        <input name="FromEmailAddress" type="text" maxlength="90" style="width:250px">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Comments*:</label>
                    </td>
                    <td>
<textarea name="Comments" rows="7" cols="40" style="width:350px"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <button class="btn btn-warning">Submit</button>
                    </td>
                </tr>
            </table>
        
    </div>
</div>
</body>