<div class="bg">
<div class="container">
    <div class="row justify-content-around ">
        <div class="col-4 mt-5 ">

            
            <div class="card" style="width:200px">
                <img class="card-img-top" src="assets/images/buyer1.jpeg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Buyer</h4>

                    <a [routerLink]="['/register-buyer']"  >Registerbuyer</a>
                </div>
            </div>
        </div>
    
        <div class="col-4 mt-5">

            
            <div class="card" style="width:200px">
                <img class="card-img-top" src="assets/images/seller.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Seller</h4>

                    <a [routerLink]="['/register-seller']"  >Registerseller</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>