<p>home works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="col">
        <ul class="nav row nav pills">
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-primary" href="#">Home </a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-primary" href="#">View Cart</a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-primary" href="#">ViewProfile</a>
            </li>
            <li class="col-sm-2 nav-item text-center">
                <a class="nav-link btn-outline-primary" href="#">Buy Product</a>
            </li>
            <li class="col-sm-4 nav-item text-center">
                <a class="nav-link btn-outline-primary" href="#">Purchase-History</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
