
<div class="card m-3">
    <h5 class="card-header text-center">Add Category form</h5>
    <div class="card-body">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="container offset-3">
            
            <div class="form-group col-5 ">
                <label> Category Name</label>
                <input type="text" formControlName="CategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryName.errors }">
                <div *ngIf="submitted && f.CategoryName.errors" class="invalid-feedback">
                    <div *ngIf="f.CategoryName.errors.required">category is required</div>
                    <div *ngIf="f.CategoryName.errors.pattern">follow the pattern</div>
                </div>
            </div>
           
            <div class="form-group col-5">
                <label> Brief_details</label>
                <input type="text" formControlName="BriefDetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BriefDetails.errors }" />
                <div *ngIf="submitted && f.BriefDetails.errors" class="invalid-feedback">
                    <div *ngIf="f.BriefDetails.errors.required"> details is required</div>
                    <div *ngIf="f.BriefDetails.errors.pattern">please Enter valid details</div>
                </div>
            </div>
        </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Add-Category</button>
                <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
            </div>
       
        </form>
    </div>
</div>
<router-outlet></router-outlet>
